@import "tailwindcss";

/* Hide scrollbars for webkit browsers */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Hide scrollbars for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbars for IE/Edge */
body {
  -ms-overflow-style: none;
}
